/* Raw-Elements */

body {
  background-color: #f4f5f6;
}

/* General Classes */

.text-m-2 {
  font-size: 110%;
}

.text-m-2 {
  font-size: 140%;
}

.w-65 {
  width: 65%;
}

/* Header - Body */

.header-body {
  height: 150px;
}

/* Header logo div */

.logo-div {
  background-color: #f72210;
  height: 105px;
}

.text-button {
  color: #f72210;
}

/* Header-nav-bar */

.header-body-nav {
  bottom: 26px;
  background-color: #fff;
  border-top: 13px solid #f72210;
}

/* Arrow box */

.header-body-nav::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 22px;
  background-color: #f72210;
  border-left: 12px solid #fff;
  border-top: 13px solid #f72210;
}

.header-body-nav > ul {
  width: 100%;
  justify-content: space-evenly;
}

.header-body-nav > ul > li > a {
  padding: 0;
  padding-left: 1.2vw;
}

#first-a-nav {
  padding: 0;
}

.last-li {
  width: 8%;
}

.input-nav-bar::placeholder {
  font-size: 1rem;
}

/* Main section */

/* Main-culture-travel */

.main-culture-travel {
  background: #fafafa;
}

/* left aside */

.left-aside-main {
  width: 419px;
}

.h6-aside-left > a:link:hover,
.h6-aside-left > a:visited:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
}

/* Right side */

.main-aside-right-div-w {
  height: 77px;
  box-sizing: content-box;
}

.main-aside-right-div-w > img {
  height: 69px;
  width: auto;
}

.link-aside-right:link:hover,
.link-aside-right:visited:hover {
  text-decoration: none;
  color: #f72210 !important;
}

.suscribe-more {
  height: 150px;
  background-color: #f4f5f6;
}

.n-icon {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}



/* Medias */

@media (max-width: 991px) {

  .header-body {
    height: 50px;
  }

  .logo-div {
    height: 50px;
  }

  .text-m-2 {
    font-size: 80%;
  }

  #img-logo {
    min-width: 150px;
    max-width: 190px;
  }

  .text-m-3 {
    font-size: 163%;
  }

}