/* Raw-Elements */

/* General Classes */

.text-m-2 {
  font-size: 110%;
}

/* Header - Body */

/* Header logo div */

.logo-div {
  background-color: #f72210;
  height: 105px;
}

.text-button {
  color: #f72210;
}

/* Header-body-nav-bar */

.header-body-nav {
  bottom: 26px;
  background-color: #fff;
  border-top: 13px solid #f72210;
}

.header-body-nav > ul {
  width: 100%;
  justify-content: space-evenly;
}

.header-body-nav > ul > li > a {
  padding: 0;
  padding-left: 1.2vw;
}

.header-body-nav::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 22px;
  background-color: #f72210;
  border-left: 12px solid #fff;
  border-top: 13px solid #f72210;
}



/* white nav */